h3 The LowRoller version of the RollerBall
#bloviation.contents
  p Did you ever see a Samuri movie where the police take down a rampaging samuri?
  p They simply surrounded the samuri with wooden staffs to keep him farther than swords length, and poked him until he gave up. we have nothing like that for a man with a gun. Enter the LowRoller
  p The LowRoller rollerBall is about the size of a basketball or soccerball. It is covered with a hard shell with a surface like leather. It's mass is a few kilograms. It can alter it's center of gravity to roll, hop or bounce. that's it.
  p Even with that limitation, it can gang up at the feet of a person causing a threat. The random motions of the balls will make the attacker lose balance and be unable to continue.
  p Press the spacebar to start and stop the simulation. The large ball is a meter in diameter. press '.' to single step the simulation.
#bloviation.contents
  form#sliders.flex-container
  canvas#seen-canvas(width='400', height='400')
  p Press hjkl to change where these rollerballs take down an attacker.
  p Rotate the view with click and drag. Zoom with fingers or mouse wheel.
